.actionButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 15%;
	width: 100%;
}
.actionButtons div:nth-child(2) {
	display: inherit;
	width: 20%;
	justify-content: inherit;
	align-items: center;
}
.actionButtons div:nth-child(1) {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 2em;
}
.actionButtons div:nth-child(1) button {
	margin-right: 0.5em;
}
.displayDealer {
	height: 100%;
	width: 30%;
}
.showCards img {
	width: 4vw;
	height: 12vh;
	/* border: 1px solid rgb(255, 255, 255); */
	border-radius: 3%;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	margin-right: 5px;
}
.cardImage {
	animation: fadeIn ease-in-out 0.7s;
}
.amountSelector {
	height: 100%;
	width: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.amountSelector img {
	cursor: pointer;
	margin-top: 1em;
	width: 6vh;
	height: 6vh;
}
.amountSelector a {
	margin-bottom: 1em;
	color: red;
}
.amountSelector button {
	height: 100%;
	cursor: pointer;
}
.betAmount {
	cursor: pointer;
	height: 12%;
	width: 12%;
	background-color: rgb(255, 215, 0);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em auto;
	user-select: none;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: rotateZ(0deg);
		scale: 0;
	}
	100% {
		transform: rotateZ(720deg);
		scale: 1;
	}
}
