* {
	border: 1px solid black;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	justify-content: center;
	align-items: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
#root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	width: 100%;
}
.mainGame {
	display: flex;
	height: 70vh;
}
.topBar {
	width: 100%;
	height: 15%;
}
.game {
	width: 100%;
	height: 100%;
}
.amountSelector {
	height: 100%;
	width: 10%;
}
.main {
	width: 90%;
}
.dealer {
	height: 20%;
	width: 100%;
	display: flex;
	justify-content: center;
}
.player {
	height: 80%;
	width: 100%;
	display: flex;
	justify-content: center;
}
.box {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 30%;
	height: 100%;
}
.betAmount {
	height: 25%;
	width: 25%;
	background-color: red;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em auto;
	user-select: none;
}
.score {
	margin: 0;
}
